*{
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(1, 1, 80);
}
#green {
    background-color: green;
}
#green:active {
    background-color:rgb(161, 161, 161);
    border-width: 1px;
    border-color: aliceblue;
    border-style: solid;
  }
#red {
    background-color: red;
}
#red:active {
    background-color:rgb(161, 161, 161);
    border-width: 1px;
    border-color: aliceblue;
    border-style: solid;
  }
#yellow {
    background-color: yellow;
}
#yellow:active {
    background-color:rgb(161, 161, 161);
    border-width: 1px;
    border-color: aliceblue;
    border-style: solid;
  }
#blue {
    background-color: blue;
}
#blue:active {
    background-color:rgb(161, 161, 161);
    border-width: 1px;
    border-color: aliceblue;
    border-style: solid;
  }
button {
    height: 150px;
    width: 150px;
    border-radius: 20%;
    border-color: black;
}
.container {
    height: 720px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.first-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.first-row div {
    padding: 10px;
}
.second-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.second-row div {
    padding: 10px;
}
@font-face {
    font-family: gameplay;
    src: url(./fonts/PressStart2P-Regular.ttf) format('truetype');
}
h1 {
    font-family: gameplay;
    color: rgb(240, 252, 163);
    text-align: center;
    padding-bottom: 70px;
    font-size: 40px;
}